

.cardBox {
    width: 35%;
    font-family: 'Lato';
}

.cardHeader {
    padding: 25px 0px;
}

.text {
    font-family: 'Lato';
}

.cardContainer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.userPermissions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.coursePermissionHeading {
    padding-top: 10px;
    padding-left: 10px;
}