.heading {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.description {
  font-family: 'Lato', sans-serif;
  color: #676767;
}

.button {
  font-family: 'Lato', sans-serif;
  background-color: #edb6b6;
  color: #723a3a;
}

.button:hover {
  background-color: #e7abab;
}
