.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: white;
  box-shadow: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 45px;
  
}

.doneBtn {
  background-color: var(--colour-main-blue-400);
  color: white;
}

.doneBtn:hover {
  background-color: var(--colour-main-blue-600);
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
