.infoCard {
  padding: 15px;
}

.tutorIdNameContainer {
  padding: 10px 0px;
}

.tutorIdName {
  display: flex;
  gap: 6px;
  align-items: center;
}

.durationTagBoxContainer {
  padding-top: 20px;
}

.summaryHeadings {
  font-weight: bold;
}
