.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 73%;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  flex: 1;
  align-self: flex-end;
  background-color: var(--colour-main-purple-200);
}

/*background-color: #e7ecff;*/