.textHeading {
  font-weight: bold;
}

.timeContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.startTimeContainer {
  display: flex;
  gap: 2px;
  align-items: center;
  padding-bottom: 7px;
}