.grid {
    display: flex;
    grid-template-columns: repeat(2, 1);
    grid-gap: 1em;
}

.pageTitle {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.addButton {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--colour-main-grey-200);
    font-weight: bold;
    border: black 0.8px solid;
    border-top: none;
}

.addButton:hover {
    opacity: 1;
}