html,
body {
  font-family: 'Lato';
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --colour-main-blue-900: #091133;
  --colour-main-blue-400:  #6F7CB2;
  --colour-main-grey-600: #5D6970;
  --colour-main-purple-200: #E9E6FD;
  --colour-main-purple-400: #D5CFFF;
  --colour-main-purple-900: #3E368F;
  --colour-main-red-200: #EDB6B6;
  --colour-main-red-900: #723A3A;
}
