html,
body {
  font-family: Lato;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --colour-main-navy-900: #091133;
  --colour-main-blue-200: #bcd1f4;
  --colour-main-blue-900: #30415c;
  --colour-main-blue-400: #6f7cb2;
  --colour-main-grey-200: #d3d3d3;
  --colour-main-grey-400: #c7c7c7;
  --colour-main-grey-600: #5d6970;
  --colour-main-green-200: #b6edb8;
  --colour-main-green-400: #9de0a0;
  --colour-main-green-900: #064;
  --colour-main-yellow-300: #f4bc4d;
  --colour-main-yellow-500: #edb549;
  --colour-main-blue-600: #3056d3;
  --colour-main-purple-200: #e9e6fd;
  --colour-main-purple-400: #d5cfff;
  --colour-main-purple-900: #3e368f;
  --colour-main-red-200: #edb6b6;
  --colour-main-red-900: #723a3a;
}
