.infoCard {
  padding: 15px;
}

.infoCardTitleContainer {
  display: flex;
  justify-content: space-between;
}

.allSummaryItemsContainer {
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.summaryItem {
  display: flex;
  gap: 6px;
  justify-content: space-between;
  align-items: center;
}

.zidNameContainer {
  display: flex;
  gap: 5px;
}

.summaryHeadings {
  font-weight: bold;
}

.tagsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
