.container {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.cardBox {
  width: 75%;
  font-family: 'Lato';
}
.cardContainer {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
}
  
.formGroup {
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: baseline;
  margin-bottom: 1em;
  gap: 1em;
}

.textField {
  margin: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colour-main-purple-900);
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
  margin: 1em;
  cursor: pointer;
}
.pageTitle {
  font-size: 1.5em;
  margin: 1em;
}
.queueTitle {
  margin-bottom: 0.5em;
  max-width: 1000px;
  width: 100%;
}
