.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.cardBox {
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}

.queueTitle {
    padding-top: 10px;
    padding-bottom: 50px;
}

.requestCardContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.closeQueueButton {
    font-weight: bold;
    background-color: var(--colour-main-grey-200);
    color: black;
    padding: 5px 25px;
}

.closeQueueButton:hover {
    background-color: var(--colour-main-grey-400);
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 25%;
}
