.modalButton {
  font-weight: bold;
  padding: 5px 25px;
  background-color: var(--colour-main-purple-200);
  color: var(--colour-main-purple-600);
  min-width: 100%;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  background-color: whitesmoke;
  box-shadow: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}
  
.titleContainer {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.buttonContainer {
  display: flex;
  align-self: stretch;
  justify-content: center;
  gap: 25px;
}

.questionAnswerContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.questionContainer {
  font-weight: bold;
}

.answerContainer {

}