.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    min-height: 60vh;
}

.input {
    width: 100%;
    max-width: 1000px;
    margin: 0;
    align-self: flex-end;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}