.newQueueBtn {
  background-color: var(--colour-main-purple-200);
  color: var(--colour-main-purple-900);
  flex-wrap: wrap-reverse;
  margin-right: 10%;
  width: fit-content;
  height: max-content;
}

.newQueueBtn:hover {
  background-color: var(--colour-main-purple-400);
  color: var(--colour-main-purple-900);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5%;
  margin-top: 5%;
  min-height: 80vh;
  margin-left: 10%;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading {
  align-self: flex-start;
  justify-self: flex-start;
}

.cards {
  display: grid;
  width: 90%;
  /* TODO: clean up styles */
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%
}