.genericButton {
    height: 45px;
    font-weight: bold;
    background-color: var(--colour-main-purple-200);
    color: var(--colour-main-purple-900);
    padding: 5px 25px;
    min-width: 20%;
}

.genericButton:hover {
    background-color: var(--colour-main-purple-600);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: white;
  box-shadow: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  max-width: 1000px;
  max-height: 1100px;
  overflow: scroll;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.closeButton {
  font-weight: bold;
  display: flex;
  align-self: last baseline;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
}

.requestCard {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  padding: 2% 3%;
  gap: 2%;
}

.createClusterButton {
  font-weight: bold;
  background-color: var(--colour-main-purple-200);
  color: var(--colour-main-purple-900);
  display: flex;
  position: absolute;
  bottom: 3%;
  height: 6%;
  align-self: center;
  width: 20%;
}

.cancelButton {
  font-weight: bold;
  background-color: var(--colour-main-grey-200);
  color: var(--colour-main-grey-900);
  display: flex;
}

.searchBarContainer {
  max-width: 1000px;
}

.toast {
  font-size: large;
  font-weight: bold;
  min-width: 20%;
}
