.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  padding-top: 1%;
}

.body {
  display: flex;
  width: 95%;
  column-gap: 2%;
}

.courseAnalyticsContent {
  display: flex;
  flex-direction: column;
  flex: 9;
}

.buttonContainer {
  min-width: 15%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.queueTitle {
  padding-top: 2%;
  padding-bottom: 3%;
}

.greyButton {
  font-weight: bold;
  padding: 5px 25px;
  background-color: var(--colour-main-grey-400);
  color: var(--colour-main-grey-600);
}

.statsContainer {
  display: flex;
  gap: 15px;
}

.calendarContainer {
  flex: 2;
}

.queuesContainer {
  display: flex;
  flex-direction: column;
}

.queueCards {
  display: flex;
  flex-direction: row;
}

.text {
  text-align: left;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 8px;
  width: 100%;
}

.chartCarouselContainer {
  display: flex;
  flex-direction: column;
  flex: 7;
  width: 100%;
}
