.pageContainer {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    min-height: 80vh;
}

.cardBox {
    width: 75%;
}

.cardHeader {
    padding: 25px 0px;
}

.cardContainer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.userPermissions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.coursePermissionHeading {
    padding-top: 10px;
    padding-left: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.backButton {
    background-color: var(--colour-main-grey-400);
    color: black;
    padding: 7px 15px;
}
.backButton:hover {
    background-color: white;
    color: black;
}

.createButton {
    padding: 7px 15px;
}

.createButton:hover {
    background-color: var(--colour-main-grep-600);
    color: black;
}

.headingWordCount {
    display: flex;
    justify-content: space-between;
}
