.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardBox {
    /* align-self: stretch; */
    padding: 0px 50px;
    font-family: 'Lato';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 25px;
}

.zidNameContainer {
    display: flex;
    gap: 10px;
}

.previousRequestsContainer {
    display: flex;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
}

.queueTitle {
    padding: 25px 0px;
}

.text {
    font-family: 'Lato';
}

.textHeading {
    font-family: 'Lato';
    font-weight: bold;
}

.cardContainer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 35px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.tagContainer {
    display: flex;
    gap: 5px;
    width: 100%;
}

