.header {
  width: 100%;
  background-color: var(--colour-main-purple-200);
  
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--colour-main-grey-200);
}

.right {
  display: flex;
  flex-direction: row;
  margin-right: 10%;
}

.profile:hover {
  background-color: var(--colour-main-grey-200);
  cursor: pointer;
}

.heading {
  margin-left: 10%;
}
