.header {
  width: 100%;
  background-color: white;
  
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  gap: 73%;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: row;
}

.profile:hover {
  background-color: var(--colour-main-grey-200);
  cursor: pointer;
}