.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  background-color: whitesmoke;
  box-shadow: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
    font-family: 'Lato', sans-serif;
, sans-serif;
}

.joinAsTutorBtn {
    font-family: 'Lato', sans-serif;
, sans-serif;
  background-color: var(--colour-main-purple-200);
  color: var(--colour-main-purple-900);
}

.joinAsTutorBtn:hover {
  background-color: var(--colour-main-purple-400);
}

.joinBtn {
    font-family: 'Lato', sans-serif;
, sans-serif;
  background-color: var(--colour-main-blue-600);
  color: white;
}

.joinBtn:hover {
  background-color: #2748b6;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  gap: 45%;
}
